.add_point { 
  position: "relative";
  width: 1;
  height: 1;

  &_marker {
    position: "absolute";
    width: 60;
    height: 70;
    top: -70;
    left: -30;
    display: "flex";
    justify-content: "center";
  }
  &_marker:hover {
    cursor: "pointer";
  }
}