.add_point { 
  position: relative;
  width: 1px;
  height: 1px;
}

.add_point_marker {
  position: absolute;
  width: 60px;
  height: 70px;
  top: -70px;
  left: -30px;
  display: flex;
  justify-content: center;
}
.add_point_marker:hover {
  cursor: pointer;
}